@import '../global/variables.scss';

.todo {
  display: flex;
  align-items: center;
}

.todo--completed .todo__title {
  color: $grey300;
  text-decoration: line-through;
}

.todo--editing .todo__container{
  display: none;
}

.todo__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo__title {
  flex-grow: 1;
  padding: 10px 0 10px 17px;
  margin: 0;
  word-break: break-all;
}

.todo__button-delete {
  min-width: 40px;
  min-height: 40px;
  margin: auto 0;
  @include font(normal, 35px, 40px);
  border: none;
  background-color: transparent;
}

.todo__button-delete:after {
  display: block;
  color: $orange200;
  transform: rotate(45deg);
  content: '+';

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.todo:hover .todo__button-delete:after {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.todo .todo__button-delete:hover::after {
  color: $orange300;
}

.todo__checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.todo__checkbox-mark {
  display: block;
  width: 26px;
  height: 26px;
  margin: auto;
  border: 1px solid $grey200;
  border-radius: 50%;
}

.todo__checkbox:hover .todo__checkbox-mark {
  border: 1px solid $grey300;
}

.todo__input-check:checked + .todo__checkbox-mark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -4px;
  width: 13px;
  height: 10px;
  background-image: url('/assets/img/check-mark.svg');
  background-repeat: no-repeat;
  content: '';
}

.todo__input-check:checked + .todo__checkbox-mark{
  border: 1px solid $green300;
}

.todo__input-editing {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 0 0 0 40px;
  @include font(normal, 16px, 23px);
}
