@import '../global/variables.scss';

.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  @include font(normal, 12px, 12px);
  color: $grey400;

  @media (min-width: $desktop-md-width) {
    margin-top: 15px;
    @include font(normal, 14px, 14px);
  }
}

.todo-header__info {
  margin-left: 10px;
  @media (min-width: $desktop-md-width) {
    margin-left: 20px;
  }
}

.todo-header__filter__list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 10px;
  margin: 0 10px 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    position: absolute;
    left: 50%;
    gap: 20px;
    margin: 0 0 0 -96px;
  }

  @media (min-width: $desktop-lg-width) {
    margin-right: 20px;
  }
}

.todo-header__button-clear {
  position: absolute;
  top: -21px;
  left: 10px;
  padding: 0;
  @include font(normal, 12px, 12px);
  color: $grey400;
  border: none;
  background-color: transparent;

  @media (min-width: $desktop-md-width) {
    position: static;
    margin-right: 20px;
    @include font(normal, 14px, 12px);
  }
}

.todo-header__button-clear:hover {
  text-decoration: underline;
  cursor: pointer;
}

.todo-header--hide {
  display: none;
}
